*~
*.pyc
*.pyo
/tmp
/eggs
.egg-info
**/virtualenv
/**/project.log
.DS_Store
.metadata
.project
Thumbs.db
local.properties
.idea
*.sublime*
.sass-cache
npm-debug.log
node_modules
**/migrations/*
dist/
