{% load embed_video_tags %}
{% load i18n %}
{% trans "Choose a format" as choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str %}

<div class="row row-flush nice-padding">
    <div class="col6">
        {% video embed_video.url as my_video %}
            here?
            <img src="{{ my_video.thumbnail }}">
        {% endvideo %}
    </div>
    <div class="col6">
        <form action="{% url 'wagtail_embed_videos_chooser_select_format' embed_video.id %}" method="POST">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="{% trans 'Insert video' %}" /></li>
            </ul>
        </form>
    </div>
</div>
