{% extends "wagtailadmin/base.html" %}

{% load wagtailadmin_tags %}
{% load i18n static %}

{% block titletag %}
  {% trans "Add an embed video" %}
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  {% include "wagtailadmin/pages/_editor_js.html" %}
  {{ form.media.js }}
{% endblock %}
{% block extra_css %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}
{% block content %}
  {% trans "Add embed video" as add_str %}
  {% include "wagtailadmin/shared/header.html" with title=add_str icon="media" %}
  <div class="nice-padding">
    {% include "wagtailadmin/shared/non_field_errors.html" %}
    <form action="{% url 'wagtail_embed_videos:add' %}"
          method="post"
          enctype="multipart/form-data">
      {% csrf_token %}
      <ul class="fields">
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            <li>{% formattedfield field %}</li>
          {% endif %}
        {% endfor %}
        <li>
          <input type="submit" value="{% trans 'Save' %}" class="button" />
        </li>
      </ul>
    </form>
  </div>
{% endblock %}
